@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.primary-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared style  */

.display-flex {
  display: flex;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.dark-1 {
  color: rgb(19, 19, 19);
}
.dark-2 {
  color: rgb(66, 66, 66);
}
.dark-3 {
  color: rgb(114, 114, 114);
}
.section-title {
  font-size: 2.5rem;
  font-weight: 500;
}

.btn-primary {
  background-color: #ff900e;
  padding: 13px 21px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: 1.5px solid #ff900e;
  cursor: pointer;
  transition: ease 400ms;
}
.btn-primary:hover {
  background-color: white;
  color: #ff900e;
  border: 1.5px solid #ff900e;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 85px;
}

/* header style  */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 2.2rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-weight: 500;
}

/* banner style here  */

.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 3.8rem;
}
.banner-describtion {
  font-weight: 400;
  font-size: 1rem;
}
.banner-image {
  width: 100%;
}

/* teams and features style  */

.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}
.team-img-container img {
  width: 100%;
}

.our-features {
  max-width: 480px;
  margin-left: 50px;
}
#feature-color {
  color: #ff900e;
}

.feature-describtion {
  font-size: 0.9rem;
  font-weight: 400;
}

/* fact section style here  */

.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.fact-card {
  height: 160px;
  width: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
}
.fact-number {
  margin-top: 7px;
  margin-bottom: 8px;
  font-size: 1.8rem;
  font-weight: 600;
}
.fact-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 9px;
}
.fact-title,
.fact-describtion {
  margin-left: 20px;
}
.fact-describtion {
  max-width: 500px;
  margin-bottom: 50px;
}
.fact-icon {
  width: 30%;
}
/* small device responsive media query here  */

/* header responsive */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }

  .teams {
    flex-direction: column;
  }
  .team-img-container,
  .fact-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .our-features {
    max-width: 300px;
    margin-left: 0;
  }
  .fact-card {
    margin-top: 20px;
  }
  .fact-title,
  .fact-describtion {
    text-align: center;
  }
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin: 50px auto;
  }
}
