@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.primary-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared style  */

.display-flex {
  display: flex;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.dark-1 {
  color: rgb(19, 19, 19);
}
.dark-2 {
  color: rgb(66, 66, 66);
}
.dark-3 {
  color: rgb(114, 114, 114);
}
.section-title {
  font-size: 2.5rem;
  font-weight: 500;
}

.btn-primary {
  background-color: #ff900e;
  padding: 13px 21px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: 1.5px solid #ff900e;
  cursor: pointer;
  transition: ease 400ms;
}
.btn-primary:hover {
  background-color: white;
  color: #ff900e;
  border: 1.5px solid #ff900e;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 85px;
}

/* header style  */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 2.2rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-weight: 500;
}

/* banner style here  */

.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 3.8rem;
}
.banner-describtion {
  font-weight: 400;
  font-size: 1rem;
}
.banner-image {
  width: 100%;
}

/* teams and features style  */

.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}
.team-img-container img {
  width: 100%;
}

.our-features {
  max-width: 480px;
  margin-left: 50px;
}
#feature-color {
  color: #ff900e;
}

.team-describtion {
  font-size: 0.9rem;
  font-weight: 400;
}

/* feature relatate style  */

.features {
  gap: 80px;
}

#feature-title {
  border-left: 5px solid #ff900e;
  padding-left: 10px;
}

.feature-card {
  padding: 30px;
  margin-bottom: 15px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 8px;
  max-width: 600px;
}

.feature-section-describtion {
  max-width: 720px;
}

.feature-card .feature-card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}
.features,
p,
.feature-card-describtion {
  font-size: 0.9rem;
}
.feature-img img {
  width: 100%;
}

.feature-badge {
  padding: 30px 20px;
  background-color: #ff900e;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: -100px;
  margin-left: -100px;
}
.feature-badge #badge-title {
  font-size: 2rem;
  color: white;
  font-weight: 800;
}
.feature-badge span {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

/* fact section style here  */

.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.fact-card {
  height: 160px;
  width: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
}
.fact-number {
  margin-top: 7px;
  margin-bottom: 8px;
  font-size: 1.8rem;
  font-weight: 600;
}
.fact-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 9px;
}
.fact-title,
.fact-describtion {
  margin-left: 20px;
}
.fact-describtion {
  max-width: 500px;
  margin-bottom: 50px;
}
.fact-icon {
  width: 30%;
}

/* sopnsor relatate style here */
.sponsor-info {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-title {
  font-size: 2.6rem;
  font-weight: 700;
}
.sponsor-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}
.sponsor-company img {
  width: 100px;
  margin-bottom: 80px;
  /* filter: grayscale(100%); */
}
/* footer section style  */
footer,
#copyright {
  background-color: rgba(255, 144, 14, 0.1);
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  justify-content: center;
}
footer a {
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

/* ** */

/* small device responsive media query here  */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .features,
  .teams {
    flex-direction: column;
  }

  .team-img-container,
  .fact-container,
  .sponsor-company {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .our-features {
    max-width: 300px;
    margin-left: 0;
  }
  .fact-card {
    margin-top: 20px;
  }
  .fact-title,
  .fact-describtion {
    text-align: center;
  }
  .feature-badge,
  .nav-links {
    display: none;
  }
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }
  .our-features {
    margin: 50px auto;
  }
  .fact-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .fact-container {
    margin: 0 130px;
  }
  .feature-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
  .feature-section-describtion,
  .feature-card {
    text-align: center;
    margin-left: 30px;
  }
  #feature-section-title {
    margin-left: 30px;
  }
}
